@font-face {
    font-family: headings;
    src: url(resource/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2);
}

@font-face {
    font-family: text;
    src: url(resource/nwpStKy2OAdR1K-IwhWudF-R3w8aZejf5Hc.woff2);
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin bg-img($img_url) {
    background-image: $img_url;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.42);
    z-index: 1;
}

p {
    font-family: text;
    font-weight: 200;
}

.heading {
    h1 {
        text-align: center;
        font-size: 3rem;
        color: #ffffff;
        font-family: headings;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        font-family: text;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8rem;
        color: #ffffffb3;
        margin-bottom: 30px;
    }
}

main {
    width: 100%;

    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        @include bg-img(url(resource/bg-01.jpg));

        .home_content {
            z-index: 2;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            @include flex-column();
            width: 100%;

            button {
                padding: 0.8rem 2.5rem;
                color: #ffffff;
                background: transparent;
                border: 1px solid #ffffff;

            }
        }
    }

    .about {
        position: relative;
        width: 100%;
        // min-height: 100vh;
        @include bg-img(url(resource/bg-02.png));
        padding: 3rem 2rem;
        text-align: center;

        a {
            color: #fff;
            text-decoration: underline;
        }

        .about_content {
            z-index: 2;
            position: relative;
            color: #fff;

            .col {
                @include flex-column();
                gap: 2rem;
                margin-bottom: 1rem;

                .about_item {
                    width: 100%;
                    @include flex-column();
                    background: rgba(0, 0, 0, 0.4);
                    padding: 2rem 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.15);

                    img {
                        width: 300px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-bottom: 1rem;
                    }

                    p {
                        padding: 0.6rem 1rem;
                        text-align: center;
                        // font-size: 0.8rem;
                        color: #fff;
                    }


                }
            }
        }
    }

    .services {
        padding: 3rem 1rem;
        min-height: 100vh;
        @include bg-img(url(resource/bg-05.png));
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .services_content {
            z-index: 2;
            color: #ffffff;
            padding: 1rem;
            @include flex-column();
            width: 100%;

            .services_container {
                text-align: center;
                @include flex-column();


                .service {
                    @include flex-column();

                    h3 {
                        text-align: center;
                        font-size: 1.2rem;
                        color: #ffffff;
                        font-family: headings;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin: 20px 0;
                    }

                    p {
                        font-size: 0.7rem;
                    }

                    i {
                        font-size: 2rem;
                    }
                }
            }


        }
    }

    .gallery {
        width: 100%;
        position: relative;
        @include bg-img(url(resource/bg-06.png));
        @include flex-column();
        gap: 1rem;
        justify-content: center;
        text-align: center;
        padding: 3rem 1rem;

        .content {
            z-index: 2;

            .gallery_head {
                padding-bottom: 3rem;
                border-bottom: 0.2px solid #ffffffa1;

                p {
                    font-family: text;
                    font-size: 1.1rem;
                    line-height: 2rem;
                    font-weight: 100;
                }
            }

            .gallery_content {
                padding: 1.5rem;
                @include flex-column();
                gap: 2rem;

                .box {
                    span {
                        display: inline-block;
                        font-size: 3rem;
                        font-family: headings;
                        font-weight: 200;
                        padding-bottom: 1rem;
                    }

                    p {
                        font-family: text;
                        font-size: 0.7rem;
                        text-transform: uppercase;
                        opacity: 0.6;
                        font-weight: 100;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }

    .contact {
        width: 100%;
        position: relative;
        @include bg-img(url(resource/bg-07.png));
        @include flex-column();
        // gap: 1rem;
        justify-content: center;
        text-align: center;
        padding: 3rem 1rem;

        .contact_content {
            width: 100%;
            padding: 1rem 2rem;
            z-index: 2;
            @include flex-column();
            gap: 1.5rem;

            .contact_form {
                @include flex-column();
                gap: 1rem;
                width: 100%;

                .row {
                    @include flex-column();
                    gap: 1rem;
                    width: 100%;

                    input {
                        width: 100%;
                        background: #ffffff11;
                        border: 1px solid rgba(255, 255, 255, 0.4);
                        padding: 1rem 1rem;
                    }
                }

                textarea {
                    width: 100%;
                    resize: none;
                    min-height: 120px;
                    background: #ffffff11;
                    padding: 1rem 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                }

                input::placeholder,
                textarea::placeholder {
                    color: #ffffffbe;
                    // padding: 1rem;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                }

                button {
                    width: 100%;
                    background: #ffffff11;
                    padding: 1rem 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    color: #fff;
                    letter-spacing: 2px;
                }
            }
        }


    }

    footer {
        background: #000000ee;
        text-align: center;
        padding: 1.6rem 2rem;

        p {
            font-family: text;
            color: #ffffff85;
            font-size: 0.8rem;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }
}

@media (min-width:900px) {
    main {
        .home {
            .home_content {

                h1 {
                    font-size: 4rem;
                    letter-spacing: 8px;

                }

                p {
                    font-size: 1rem;
                    letter-spacing: 2px;
                }
            }

        }

        .about {
            h1 {
                font-size: 4rem;
                letter-spacing: 8px;
                font-weight: 300;
            }

            .about_content {
                width: 80%;
                margin: auto;

                .col {
                    flex-direction: row;
                    align-items: stretch;

                    .about_item {
                        width: 100%;

                        img {
                            width: 300px;
                        }
                    }
                }
            }
        }

        .services {
            .services_content {
                .services_container {
                    flex-direction: row;
                    padding: 1rem 5rem;
                    gap: 2rem;

                    // background: #000;
                    .service {
                        padding: 1rem;

                        p {
                            font-size: 0.8rem;
                        }

                        h3 {
                            font-size: 1.4rem;
                        }
                    }
                }


                h1 {
                    font-size: 4rem;
                    font-weight: 300;
                    letter-spacing: 8px;

                }

                p {
                    font-size: 1rem;
                    letter-spacing: 2px;
                }

            }

        }

        .gallery {
            min-height: 100vh;

            .content {
                width: 55%;

                .gallery_head {
                    h1 {
                        font-size: 4rem;
                        font-weight: 300;
                        letter-spacing: 8px;
                    }
                }

                .gallery_content {
                    flex-direction: row;
                    justify-content: space-evenly;

                    .box {
                        span {
                            font-weight: 300;
                        }

                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .contact {
            min-height: 100vh;

            .contact_content {
                width: 55%;

                div {
                    h1 {
                        font-size: 4rem;
                        font-weight: 300;
                        letter-spacing: 8px;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }

                .contact_form {
                    align-items: flex-start;

                    .row {
                        flex-direction: row;

                        input {
                            width: 50%;
                        }
                    }

                    button {
                        width: 30%;
                    }

                }

            }
        }

        footer {
            padding: 2rem 2rem;

            p {
                font-size: 0.9rem;
                font-weight: 200;
            }
        }
    }
}