@font-face {
  font-family: headings;
  src: url(resource/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2);
}
@font-face {
  font-family: text;
  src: url(resource/nwpStKy2OAdR1K-IwhWudF-R3w8aZejf5Hc.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.42);
  z-index: 1;
}

p {
  font-family: text;
  font-weight: 200;
}

.heading h1 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  font-family: headings;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.heading p {
  text-align: center;
  font-family: text;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 30px;
}

main {
  width: 100%;
}
main .home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(resource/bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
main .home .home_content {
  z-index: 2;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .home .home_content button {
  padding: 0.8rem 2.5rem;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}
main .about {
  position: relative;
  width: 100%;
  background-image: url(resource/bg-02.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 2rem;
  text-align: center;
}
main .about a {
  color: #fff;
  text-decoration: underline;
}
main .about .about_content {
  z-index: 2;
  position: relative;
  color: #fff;
}
main .about .about_content .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
main .about .about_content .col .about_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
main .about .about_content .col .about_item img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
main .about .about_content .col .about_item p {
  padding: 0.6rem 1rem;
  text-align: center;
  color: #fff;
}
main .services {
  padding: 3rem 1rem;
  min-height: 100vh;
  background-image: url(resource/bg-05.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .services .services_content {
  z-index: 2;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .services .services_content .services_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .services .services_content .services_container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .services .services_content .services_container .service h3 {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: headings;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
}
main .services .services_content .services_container .service p {
  font-size: 0.7rem;
}
main .services .services_content .services_container .service i {
  font-size: 2rem;
}
main .gallery {
  width: 100%;
  position: relative;
  background-image: url(resource/bg-06.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}
main .gallery .content {
  z-index: 2;
}
main .gallery .content .gallery_head {
  padding-bottom: 3rem;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.631372549);
}
main .gallery .content .gallery_head p {
  font-family: text;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 100;
}
main .gallery .content .gallery_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .gallery .content .gallery_content .box span {
  display: inline-block;
  font-size: 3rem;
  font-family: headings;
  font-weight: 200;
  padding-bottom: 1rem;
}
main .gallery .content .gallery_content .box p {
  font-family: text;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 100;
  letter-spacing: 3px;
}
main .contact {
  width: 100%;
  position: relative;
  background-image: url(resource/bg-07.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}
main .contact .contact_content {
  width: 100%;
  padding: 1rem 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main .contact .contact_content .contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
main .contact .contact_content .contact_form .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
main .contact .contact_content .contact_form .row input {
  width: 100%;
  background: rgba(255, 255, 255, 0.0666666667);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 1rem;
}
main .contact .contact_content .contact_form textarea {
  width: 100%;
  resize: none;
  min-height: 120px;
  background: rgba(255, 255, 255, 0.0666666667);
  padding: 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
main .contact .contact_content .contact_form input::-moz-placeholder, main .contact .contact_content .contact_form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7450980392);
  text-transform: uppercase;
  font-size: 0.9rem;
}
main .contact .contact_content .contact_form input::placeholder,
main .contact .contact_content .contact_form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7450980392);
  text-transform: uppercase;
  font-size: 0.9rem;
}
main .contact .contact_content .contact_form button {
  width: 100%;
  background: rgba(255, 255, 255, 0.0666666667);
  padding: 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  letter-spacing: 2px;
}
main footer {
  background: rgba(0, 0, 0, 0.9333333333);
  text-align: center;
  padding: 1.6rem 2rem;
}
main footer p {
  font-family: text;
  color: rgba(255, 255, 255, 0.5215686275);
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 1px;
}

@media (min-width: 900px) {
  main .home .home_content h1 {
    font-size: 4rem;
    letter-spacing: 8px;
  }
  main .home .home_content p {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  main .about h1 {
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: 300;
  }
  main .about .about_content {
    width: 80%;
    margin: auto;
  }
  main .about .about_content .col {
    flex-direction: row;
    align-items: stretch;
  }
  main .about .about_content .col .about_item {
    width: 100%;
  }
  main .about .about_content .col .about_item img {
    width: 300px;
  }
  main .services .services_content .services_container {
    flex-direction: row;
    padding: 1rem 5rem;
    gap: 2rem;
  }
  main .services .services_content .services_container .service {
    padding: 1rem;
  }
  main .services .services_content .services_container .service p {
    font-size: 0.8rem;
  }
  main .services .services_content .services_container .service h3 {
    font-size: 1.4rem;
  }
  main .services .services_content h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 8px;
  }
  main .services .services_content p {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  main .gallery {
    min-height: 100vh;
  }
  main .gallery .content {
    width: 55%;
  }
  main .gallery .content .gallery_head h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 8px;
  }
  main .gallery .content .gallery_content {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .gallery .content .gallery_content .box span {
    font-weight: 300;
  }
  main .gallery .content .gallery_content .box p {
    opacity: 1;
  }
  main .contact {
    min-height: 100vh;
  }
  main .contact .contact_content {
    width: 55%;
  }
  main .contact .contact_content div h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 8px;
  }
  main .contact .contact_content div p {
    font-size: 1rem;
    font-weight: 200;
  }
  main .contact .contact_content .contact_form {
    align-items: flex-start;
  }
  main .contact .contact_content .contact_form .row {
    flex-direction: row;
  }
  main .contact .contact_content .contact_form .row input {
    width: 50%;
  }
  main .contact .contact_content .contact_form button {
    width: 30%;
  }
  main footer {
    padding: 2rem 2rem;
  }
  main footer p {
    font-size: 0.9rem;
    font-weight: 200;
  }
}